.headerWrap {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 0px 40px;
  background-color: #ddc350;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #53b42c;
}

.txtLogo {
  margin-left: 10px;
}

/* .right {} */
